{% extends "base.html" %} {% block title %}Reports{% endblock %} {% block content
    %}
    <h1 align="center">Lista de Reportes</h1>
    <table class="table">
        <tr>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>Ubicación</th>
          <th>Notas</th>
          <th>Acción</th>
        </tr>
        {% for note in user.reporte %}
        <tr>
            <td>{{ note.name}}</td>
            <td>{{ note.date }}</td>
            <td>{{ note.location }}</td>
            <td>{{ note.notas }}</td>
            <td><button type="button" class="close" onClick="deleteReporte({{ reporte.id }})">
                <span aria-hidden="true">&times;</span>
                </button>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td><input type="text" form="newRep" name="name" id="name"/></td>
            <td><input type="date" form="newRep" name="date" id="date"/></td>
            <td><input type="text" form="newRep" name="location" id="location"/></td>
            <td><input type="text" form="newRep" name="nota" id="nota"/></td>
            <td><button type="submit" class="btn btn-primary" form="newRep">Añadir Reporte</button></td>
        </tr>
    </table>
    <ul class="list-group list-group-flush" id="notes">
      
    </ul>
    <form method="POST" id="newRep"></form>
    <a href="/Report">Reporte1</a>

    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
        dd = '0' + dd;
        }

        if (mm < 10) {
        mm = '0' + mm;
        } 
            
        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("datefield").setAttribute("min", today);
    </script>

    {% endblock %}
    